.cart__section {
  padding: 2rem 0rem;
  margin: 3rem;
  width: 80%;
  min-height: 50vh;
  background-color: var(--primary-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cart__title {
  width: 90%;
  height: 5rem;
  border-bottom: 1px solid rgba(126, 126, 126, 0.212);
  color: var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.empty__cart__message {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.empty__cart__message a {
  color: var(--primary-red);
  font-weight: 500;
  text-decoration: underline;
}

.cart__grid {
  width: 90%;
  height: auto;
  color: var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  flex-direction: column;
}

.cart__product {
  width: 100%;
  height: 11rem;
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(126, 126, 126, 0.212);
}

.cart__product-img {
  width: 12%;
  height: 80%;
  border-radius: 0.3rem;
}

.cart__product-info {
  display: flex;
  width: 100%;
  height: 80%;
  padding: 0rem 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.cart__product-data {
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: center;
  flex-direction: column;
}

.cart__product-sale {
  display: flex;
  width: 40%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}

.delete__product {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary-red);
}

.delete__product i {
  cursor: pointer;
}

.cart__product-title {
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart__product-size {
  color: var(--secondary-gray);
  font-size: 0.8rem;
  padding-top: 0.4rem;
  font-weight: 600;
}

.cart__product-quantity {
  display: flex;
  /* width: 50%; */
  justify-content: center;
}
.product__quantity-span {
  font-size: 1.1rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid white;
}

.product__quantity-span:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid white;
}

.product__quantity-span i {
  color: var(--primary-red);
  cursor: pointer;
}
.cart__product-sale p {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  font-weight: 700;
}

.quantity__disabled i,
.quantity__disabled {
  cursor: initial;
  color: rgba(182, 182, 182, 0.336);
}

.cart__total {
  font-size: 1.5rem;
  width: 22%;
  display: flex;
  align-self: flex-end;
  padding: 2rem;
  justify-content: space-between;
}

.cart__total-price {
  font-weight: 700;
}

.cart__button-container {
  font-size: 1.5rem;
  width: 100%;
  display: flex;

  padding: 3rem 2rem;
  justify-content: flex-end;
  border-top: 1px solid rgba(126, 126, 126, 0.212);
}

.cart__button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

@media (min-width: 300px) and (max-width: 901px) {
  .cart__section {
    width: 90%;
  }
  .cart__grid {
    width: 90%;
    /* background-color: darkblue; */
  }

  .cart__product {
    height: 9rem;
    align-items: flex-start;
    position: relative;
    padding: 0rem;
    margin-top: 3rem;
  }

  .cart__product-img {
    width: 15%;
    height: 33%;
  }

  .cart__product-info {
    width: 90%;
    padding: 0rem 1rem;

    align-items: flex-start;
    flex-direction: column;
  }

  .cart__product-data {
    width: 80%;
    justify-content: flex-start;
    flex-direction: column;
  }

  .cart__product-sale {
    width: 80%;
    height: 50%;
    justify-content: space-between;
  }

  .delete__product {
    position: absolute;
    right: 0;
    top: 0;
    height: 5.5rem;
    font-size: 1.1rem;
  }

  .product__quantity-span {
    font-size: 1.4rem;
    padding: 0.1rem 0.3rem;
  }

  .cart__product-sale p {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .cart__total {
    width: 100%;
    justify-content: space-around;
  }
  .cart__button-container {
    justify-content: center;
  }
  .cart__button {
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 901px) {
    .cart__product-img {
      width: 10%;
    }
    .cart__grid {
      width: 70%;
    }
    .cart__title {
      width: 70%;
    }
  }
}

@media (min-width: 901px) and (max-width: 1450px) {
  @media (min-width: 901px) and (max-width: 1280px) {
    .cart__product-img {
      height: 70%;
      width: 14%;
    }
  }
  .cart__total {
    width: 35%;
  }
}
