.contact__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.3rem;
  background-color: #8b1d2a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2396343f' fill-opacity='0.49'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.contact__form {
  width: 45%;
  padding: 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.form__title {
  width: 100%;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  color: var(--primary-white);
  text-align: center;
}

.form__section-data,
.form__section-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form__label {
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-family: var(--secondary-text);
  font-size: 1.1rem;
  align-self: flex-start;
  color: var(--primary-white);
}
.form__input,
.form__textarea {
  padding: 0.7rem 0.4rem;
  border-radius: 0.3rem;
  font-family: var(--secondary-text);
  font-weight: 300;
  border: 1.5px solid rgba(0, 0, 0, 0.171);
  background-color: var(--primary-white);
  font-family: var(--secondary-text);
  font-weight: 300;
  font-size: 1rem;
}

.form__control-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.form__textarea {
  min-height: 8rem;
  max-height: 8rem;
  min-width: 100%;
  max-width: 100%;
}

.form__textarea::placeholder,
.form__input::placeholder {
  color: var(--primary-black);
}

.form__btn {
  text-align: center;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--primary-red);
  font-size: 1.1rem;
  font-family: var(--secondary-text);
  color: var(--primary-white);
  border: 0px solid rgba(0, 0, 0, 0);
  width: 100%;
}
