.hero {
  width: 100%;
  background-image: url(https://i.ibb.co/5cFg1F0/hero2-1.png);
  display: flex;
  align-items: flex-end;
  height: 25rem;
  background-position-x: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.hero__title {
  width: 100%;
  background-color: var(--primary-red);
  color: var(--primary-white);
  display: flex;
  justify-content: flex-start;
  padding: 0.4rem 2rem;
  align-items: center;

  font-size: 0.6rem;
}

@media (min-width: 300px) and (max-width: 901px) {
  @media (min-width: 300px) and (max-width: 360px) {
    .hero__title {
      text-align: center;
    }
  }
  @media (min-width: 300px) and (max-width: 550px) {
    .hero {
      background-image: url(https://i.ibb.co/7n0ppNc/mobile-hero-1.png);
      background-size: cover;
    }
  }

  .hero__title {
    font-size: 0.39rem;
    padding: 0.5rem;
  }
}
