.hero {
  width: 100%;
  background-image: url(../img/hero.jpg);
  display: flex;
  align-items: flex-end;
  height: 25rem;
  background-position-x: center;
}

.hero__title {
  width: 100%;
  background-color: var(--primary-red);
  color: var(--primary-white);
  display: flex;
  justify-content: flex-start;
  padding: 0.4rem 2rem;
  align-items: center;

  font-size: 0.6rem;
}

@media (min-width: 300px) and (max-width: 640px) {
  @media (min-width: 300px) and (max-width: 360px) {
    .hero__title {
      text-align: center;
    }
  }
  .hero {
    background-image: url(../img/hero-mobile.jpg);
  }
  .hero__title {
    font-size: 0.39rem;
    padding: 0.5rem;
  }
}
