.table__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow-x: auto;

  padding: 2rem 0rem;
}

table {
  /* width: auto; */
  font-family: var(--secondary-text);
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  width: 30%;
  padding: 0.5rem;
}

th {
  font-size: 1rem;
  font-weight: 800;
  border-bottom: 1px solid rgba(126, 126, 126, 0.212);
}

td {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem 0rem;
}

.table__subtotal {
  border-top: 1px solid rgba(126, 126, 126, 0.082);
}

.table__total td {
  border-top: 1px solid rgba(126, 126, 126, 0.212);

  font-weight: 800;
}

.shipping__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__personal-data {
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0rem 1rem 0rem;
}

.shipping__type,
.shipping__payment {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  border: 1px solid rgba(126, 126, 126, 0.212);
  border-left: 0.3rem solid var(--primary-red);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 1rem 0rem;
}

.shipping__option {
  width: 100%;
  padding: 0rem 1rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}
.form__label-black {
  font-weight: 500;
  padding-bottom: 0.5rem;
  font-family: var(--secondary-text);
  font-size: 1rem;
  align-self: flex-start;
  color: var(--primary-black);
}
.shipping__info {
  font-size: 0.9rem;
  width: 100%;
  font-weight: 300;
  padding: 0.3rem 2.3rem;
}

.shipping__button-container {
  font-size: 1.5rem;
  width: 60%;
  display: flex;
  padding: 1rem 0rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.radio-label {
  margin: 0rem 0rem 0rem 0.5rem;
  font-size: 1.1rem;
}

.form__error {
  color: var(--primary-red);
  /* background-color: turquoise; */
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  /* height: 1.5rem; */
  height: 2rem;
  visibility: hidden;
}
.form__error i {
  margin-right: 0.3rem;
}

.shipping__message {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-white);
  width: 100%;
  height: 3rem;
  color: var(--primary-red);
  font-weight: 700;
  border-bottom: 0.05rem solid var(--primary-red);
  display: none;
  -webkit-animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  overflow: hidden;
  z-index: 1001;
}

@media (min-width: 300px) and (max-width: 640px) {
  .form__personal-data,
  .shipping__type,
  .shipping__payment,
  .shipping__button-container,
  .table__container {
    width: 80%;
  }
  .shipping__button-container {
    justify-content: center;
    padding: 1rem 2rem;
  }

  @media (min-width: 300px) and (max-width: 361px) {
    .shipping__button-container {
      padding: 1rem 1rem;
    }
    #pay-option {
      padding: 1.7rem 2.3rem 0rem 2.3rem;
    }
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .form__personal-data,
  .shipping__type,
  .shipping__payment,
  .shipping__button-container,
  .table__container {
    width: 70%;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
