@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "header.css";
@import "hero.css";
@import "cards.css";
@import "swiper.css";
@import "contact.css";
@import "subscribe.css";
@import "footer.css";
@import "products-page.css";
@import "cart.css";
@import "shipping.css";

:root {
  --primary-red: #ec1c24;
  --accent-red: #ff0004;
  --primary-white: #fff;
  --primary-gray: #3d3a3a;
  --secondary-gray: #757575;
  --secondary-red: #be0404;
  --primary-black: #0b090a;
  --primary-text: "Lato", sans-serif;
  --secondary-text: "Hind Madurai", sans-serif;
  --tertiary-text: "Be Vietnam Pro", sans-serif;
  --animation: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--primary-text);
}

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://i.ibb.co/rwfpyYK/bg.png);
  background-repeat: repeat;
  background-position: center;
  background-color: var(--primary-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button,
.slider__section__button {
  text-align: center;
  background-color: var(--primary-red);
  font-size: 1.1rem;
  font-family: var(--secondary-text);
  color: var(--primary-white);
  border: 1.5px solid var(--primary-red);
  transition: var(--animation);
  cursor: pointer;
}
button:hover,
.slider__section__button:hover {
  transition: var(--animation);
  background-color: #cc0219;
}
